@model List<Worker>
@{
    int count = 0;
}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <a asp-action="Create"><div class="btn btn-success">Create</div></a>
                    <h3 class="box-title">Worker Table</h3>
                    <p class="text-muted">Add class <code>.table</code></p>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">№</th>
                                    <th class="border-top-0">Profile Image</th>
                                    <th class="border-top-0">Name</th>
                                    <th class="border-top-0">Description</th>
                                    <th class="border-top-0">Work Type</th>
                                    <th class="border-top-0">Setting</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Worker item in Model)
                                {
                                    <tr>
                                        <td>@(count++)</td>
                                        <td>
                                            <img style="width:100px" src="~/assets/img/testimonials/@item.ImageName" class="testimonial-img" alt="">
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Works.Name</td>
                                        <td>
                                            <button class="btn btn-info">Detalies</button>
                                            <form asp-action="Edit" asp-route-id="@item.Id">
                                                <button class="btn btn-primary">Edit</button>
                                            </form>
                                            <form asp-action="Delete" asp-route-id="@item.Id"method="post">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>